@media screen and (max-width: 840px) {
	.contact-bar,
	.resources-bar,
	.menu-options,
	.social-options,
	.footer-menu {
		display: none;
	}

	.menu-bar {
		padding: 10px;
		text-align: center;
	}

	.social-bar {
		text-align: center;
		margin: 1em 0;
	}

}

@media screen and (min-width: 759px){
	.table-responsive-sm {
		display: none;
	}
}

@media screen and (max-width: 768px){
	.table-responsive-sm {
		display: inline-table;
	}
	.table-responsive-lg {
		display: none;
	}
	.orange-title {
		margin-right: 12px;
	}
}


@media screen and (max-width: 700px){
	.result-box {
		padding: 2.75em 5em;
	}

	.result-a {
		padding: 2em;
	}

	.result-b {
		padding: 2.8em;
	}
}

@media screen and (max-width: 600px){
	.brand-logo {
		display: none;
	}
	.copyright-bar {
		text-align: center;
	}
}

@media screen and (max-width: 550px){
	.calculator {
		margin: 2em;
	}
}

@media screen and (max-width: 510px){
	.result-boxes {
		display: inline-block;
	}

	.result-box {
		padding: 1.75em 5em;
	}

	.result-a {
		padding: 1em;
	}

	.result-b {
		padding: 1.8em;
	}	
}