body {
	line-height: 1.6;
	color: #6e7680;
	font-family: 'Fira Sans',sans-serif;
	font-weight: 400;
}

.contenedor {
	max-width: 1200px;
	margin: auto;
  	position: relative;
}
.contact-bar {
	display: block;
	width: 100%;
	text-align: right;
	padding: 4px 0;
}
.contact-bar a {
	color: #8b95a1;
	cursor: pointer;
	font-size: 0.77rem;
	text-decoration:none;
	text-transform: uppercase;
	padding: 0 10px;
	letter-spacing: 0.1em;
}
.contact-bar a:hover {
	text-decoration: underline;
}
.contact-bar a:nth-child(2) {
	border-right: 1px solid #d8dde3;
	border-left: 1px solid #d8dde3;
}

.contact-bar a:nth-child(3) {
	padding-right: 0;
}

figure {
	margin: 0;
}

.page-logo {
	display: inline-block;
	margin-top: 12px;
}

.menu-bar, .social-bar{
	display: inline-block;
	width: 100%;
}

.menu-options, .social-options {
	display: inline-block;
	float: right;
}

li {
	display: inline-block;
}

ul {
	list-style: none;
	margin: 0;
}

.menu-options a {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 1.4px;
	color: inherit;
	padding: 18px 13px;
	color: #6e7680;
	letter-spacing: 0.1em;
}

.menu-options li:nth-child(1) a:after,
.menu-options li:nth-child(4) a:after  {
	content: '▾';
	padding-left: 5px;
}

button {
	text-transform: uppercase;
	border-radius: 4px;
	padding: 8px 18px !important;
	display: inline-block;
	line-height: 16px;
	font-size: 12px;
	font-weight: bold;
	transition: 0.25s ease;
	cursor: pointer;
	letter-spacing: 0.1em;
}

.free-trial-button {
	border: 1px solid #3892e3;
	color: #3892e3;
	background: white;
	margin: 0 6px;
}

.free-trial-button:hover {
	color: white;
	background: #3892e3;
}

.demo-button {
	background-color: #3cbc8d;
	border: 1px solid #3cbc8d;
	color: white;
}

.demo-button:hover {
	background-color: #309771;
	border: 1px solid #309771;
}

.contenedor.resources {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.resources-link{
	padding-left: 0 !important;
}

.resources-options a:last-child{
	padding-right: 0;
}

.resources-bar {
	background-color: #1f2532;
	display: inline-block;
	width: 100%;
}

.resources-options {
	float: right;
}

.resources-bar a {
	text-transform: uppercase;
	padding: 11px 40px;
	letter-spacing: 2px;
	transition: 0.25s ease;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
}

.portrait {
	background: #DBE0EA url('../img/portrait.png');
	background-size: cover;
}

.title {
	font-size: 2.5rem;
	line-height: 1.3;
	margin-bottom: 20px;
	color: #414954;
	margin-top: 30px;
	margin-bottom: 15px;
}

.contenedor.text {
	padding-top: 90px;
	padding-bottom: 50px;
	text-align: center;
}

.table {
	max-width: 900px !important;
	margin: 50px auto !important;
}

.grey-background {
	background-color: #d8dde3 !important;
}

.blue-title {
	color: #3892e3 !important;
}

.orange-title {
	color: #f58d3f !important;
}

.table td, .table th {
	border: transparent !important;
	padding: 0.9rem !important;
}

input {
	border: 1px solid #d9dde1;
	border-radius: 3px;
	color: #424852;
	outline: none;
	padding: 10px 16px;
	font-weight: bold;
	line-height: 1;
	box-sizing: border-box;
	font-family: inherit;
	text-align: center;
}

input:focus {
	border-color: #b8b8b8;
}

.second-title {
	margin-top: 50px;
}

#calculate, #get-demo {
	color: white;
	font-size: 0.82rem;
	background-color: #3892e3 !important;
	border: 1px solid #3892e3 !important;
	padding: 0.9375rem 3.75rem !important;
}

#calculate:hover, #get-demo:hover {
	background-color: #3875c6 !important;
	border: 1px solid #3875c6 !important;
}

.calculator {
	text-align: center;
	margin:6em;
}

#results {
	width: 100%;
	text-align: center;
}

.decorator {
	display: flex;
}

.result-boxes {
	display: flex;
	justify-content: center;
	background: #32425B;
	padding-bottom: 1.5em;
}

.p-value, .significance {
	background: #32425B;
	width: 50%;
	display: flex;
	padding: 2.5em 0;
}

.p-value {
	border-radius: 0 3em 0 0;
	justify-content: right;
}

.p-value h4 {
	margin-bottom: 0;
}

.significance {
	border-radius: 3em 0 0 0;
}

.p-value-result, .significance-result {
	background: white;
	border-radius: 3px;
	margin: 20px;
}

.result-box {
	padding: 2.75em 6.64em;
	border-radius: 0 0 3px 3px;
}

.result-a {
	padding: 2em 6.41em;
}

.result-b {
	padding: 2.8em 5.33em;
}

.result-box span{
	font-size: 1.5rem;
	color: #2b3945 !important;
}

#demo {
	text-align: center;
}

.dark-grey-background {
	background-color: #2b3945 !important;
}

.demo-title {
	text-transform: uppercase;
	color: white;
	font-size: 1.5rem !important;
	margin-bottom: 0.5em;
	letter-spacing: 1.5px;
	font-weight: bold;
	line-height: 40px;
}

.demo-subtitle {
	font-size: 1.125rem;
	color: #d9dde1 !important;
	opacity: 0.7;
}

#get-demo {
	margin-top: 2em;
}

#demo .contenedor {
	padding: 3.7em 0;
}

.footer {
	background-color: #1f2532;
}

.product-title {
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 0.875rem !important;
}

.col a{
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.85em;
	cursor: pointer;
	text-decoration: none;
	line-height: 1.5rem;
}

.col a:hover {
	color: white;
	text-decoration: underline;
}

.col ul {
	padding-left: 0;
	margin-top: 10px;
}

.col li {
	display: block;
}

.sub-item {
	padding-left: 15px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.social-options li{
	padding: 20px;
}

.social-options li:nth-child(4){
	padding-right: 0;
}

.social-bar {
	margin: 3em 0;
}

.copyright-bar {
	border-top: 2px solid #d8d8d81a;
	margin-top: 10px;
	padding-bottom: 20px;
}

.copyright-options {
	display: inline-block;
	margin-top: 10px;
}

.copyright-options ul,
.copyright-options li:first-child {
	padding-left: 0;
}

.copyright-options li {
	padding: 0 10px;
	font-size: 0.8125rem !important;
	color: white !important;
	border-right: 1px solid white;
}

.copyright-options li:nth-child(4){
	border-right: none;
}

.copyright-options a {
	color: white !important;
}

.brand-logo{
	float: right;
	margin-top: 10px;
}

table {
	display: inline-table;
}

tbody {
	border-radius: 2px !important;
	border: 1px solid #d5d8dc;
}