{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Significance Calculator</title>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/media-queries.css' %}">

</head>
<body>
	<section id="header" class="header contenedor">
		<header>
			<div class="contact-bar">
				<a href="">+1 (844) 822 8378</a>
				<a href="">contact us</a>
				<a href="">login</a>
			</div>
			<div class="menu-bar">
				<figure class="page-logo"> <!-- logotipo -->
		          <img src="{% static 'img/logo.png' %}" alt="logo"/>
		        </figure>
		        <nav class="menu-options" id="menu"> <!-- menu -->
		          <ul>
		            <li>
		              <a href="">product</a>
		            </li>
		            <li>
		              <a href="">pricing</a>
		            </li>
		            <li>
		              <a href="">services</a>
		            </li>
		            <li>
		            	<a href="">resources</a>
		            </li>
		            <li>
		            	<button class="free-trial-button">free trial</button>
		            	<button class="demo-button">request a demo</button>
		            </li>

		          </ul>
		        </nav>
			</div>
		</header>
	</section>
	<section id="portrait">
		<div class="resources-bar">
			<div class="contenedor resources">
				<a class="resources-link" href="">resources</a>
				<nav class="resources-options"> <!-- menu -->
		          <ul>
		            <li>
		              <a href="">ebooks</a>
		            </li>
		            <li>
		              <a href="">webinars</a>
		            </li>
		            <li>
		              <a href="">case studies</a>
		            </li>
		            <li>
		            	<a href="">blog</a>
		            </li>
		            <li>
		            	<a href="">knowledge base</a>
		            </li>
		          </ul>
		        </nav>
		    </div>
		</div>
		<div class="portrait">
			<div class="contenedor text">
				<img src="{% static 'img/clock.png' %}">
				<h1 class="title">A/B split test significance calculator</h1>
				<span class="subtitle">Get comprehensive insights about testing, optimization, UX, design, and more.</span>
			</div>
		</div>
	</section>
	<section id="calculator">
		<div class="contenedor calculator">
			<h1 class="title second-title">Are your results significant?</h1>
			{% csrf_token %}
			<table class="table table-responsive-lg">
			    <tr>
			      <td style="border-top:1px solid #d5d8dc;"></td>
			      <td class="orange-title grey-background">Control</td>
			      <td class="blue-title grey-background">Variation</td>
			    </tr>
			    <tr>
			      <td>Number of Visitors</td>
			      <td class="grey-background"><input min='0' type="number" id='control_visitors'/></td>
			      <td class="grey-background"><input min='0' type="number" id="variation_visitors" /></td>
			    </tr>
			    <tr>
			      <td>Number of Conversions</td>
			      <td class="grey-background"><input min='0' type="number" id="control_conversions" /></td>
			      <td class="grey-background"><input min='0' type="number" id="variation_conversions" /></td>
			    </tr>
			</table>
			<table class="table table-responsive-sm table-responsive-md">
			    <tr><td>Number of Visitors</td></tr>
			    <tr>
			    	<td class="grey-background">
			      	<span class="orange-title">Control</span>
			      	<input min='0' type="number" name="" />
			      </td>
			  	</tr>
			  	<tr>
			      <td class="grey-background">
			      	<span class="blue-title">Variation</span>
			      	<input min='0' type="number" name="" />
			      </td>
			    </tr>
			    <tr><td>Number of Conversions</td></tr>
			    <tr>
			    	<td class="grey-background">
			      	<span class="orange-title">Control</span>
			      	<input min='0' type="number" name="" />
			      </td>
			  	</tr>
			  	<tr>
			      <td class="grey-background">
			      	<span class="blue-title">Variation</span>
			      	<input min='0' type="number" name="" />
			      </td>
			    </tr>
			</table>
			<button id="calculate">Calculate Significance</button>
		</div>
	</section>
	<section id="results" style="display: none">
		<div class="decorator">
			<div class="p-value"></div>
			<div class="significance"></div>
		</div>
		<div style="background: #32425B;">
			<div class="result-boxes">
				<div class="p-value-result">
					<div class="result-a">
						<h4 class="blue-title">P-Value</h4>
						<small>(Range from 0-1)</small>
					</div>
					<div class="grey-background result-box">
						<span id="p-value"></span>
					</div>
				</div>
				<div class="significance-result">
					<div class="result-b">
						<h4 class="blue-title">Significance</h4>
					</div>
					<div class="grey-background result-box">
						<span id="significance"></span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="demo" class="dark-grey-background">
		<div class="contenedor">
			<h2 class="demo-title">Schedule A personalized demo</h2>
			<span class="demo-subtitle">Get in touch with us for a detailed walk-through of VWO.</span><br>
			<button id="get-demo">Request a demo</button>
		</div>
	</section>
	<footer class="footer">
		<div class="contenedor">
			<div class="social-bar">
				<figure class="page-logo"> <!-- logotipo -->
		          <img src="{% static 'img/white-logo.png' %}" alt="logo"/>
		        </figure>
		        <nav class="social-options" id="menu"> <!-- menu -->
		          <ul>
		            <li>
		              <a href=""><img src="{% static 'img/linkedin.png' %}"></a>
		            </li>
		            <li>
		              <a href=""><img src="{% static 'img/twitter.png' %}"></a>
		            </li>
		            <li>
		              <a href=""><img src="{% static 'img/facebook.png' %}"></a>
		            </li>
		            <li>
		            	<a href=""><img src="{% static 'img/google.png' %}"></a>
		            </li>
		          </ul>
		        </nav>
			</div>
			<div class="row footer-menu">
				<div class="col">
					<span class="product-title">product</span>
					<ul>
						<li><a href="">CRO Platform</a></li>
						<li><a href="">Track</a></li>
						<li class="sub-item"><a href="">Goals</a></li>
						<li class="sub-item"><a href="">Funnels</a></li>
					</ul>
					<ul>
						<li><a href="">Analyze</a></li>
						<li><a href="">Heatmaps</a></li>
						<li class="sub-item"><a href="">Visitor Recordings</a></li>
						<li class="sub-item"><a href="">Form Analysis</a></li>
						<li class="sub-item"><a href="">On-page Surveys</a></li>
					</ul>
				</div>
				<div class="col" style="padding-top: 1.75em;">
					<ul>
						<li><a href="">Plan</a></li>
						<li class="sub-item"><a href="">Observations</a></li>
						<li class="sub-item"><a href="">Hypotheses</a></li>
					</ul>
					<ul>
						<li><a href="">Test</a></li>
						<li class="sub-item"><a href="">A/B Tests</a></li>
						<li class="sub-item"><a href="">Multivariate Tests</a></li>
						<li class="sub-item"><a href="">Split URL Tests</a></li>
					</ul>
					<ul>
						<li><a href="">Target</a></li>
						<li class="sub-item"><a href="">Personalization</a></li>
					</ul>
				</div>
				<div class="col">
					<span class="product-title">resources</span>
					<ul>
						<li><a href="">Knowledge base</a></li>
						<li><a href="">Case Studies</a></li>
						<li><a href="">Blog</a></li>
						<li><a href="">Videos & Webinars</a></li>
						<li><a href="">Free tools</a></li>
						<li><a href="">Guides & eBooks</a></li>
						<li><a href="">Ecommerce</a></li>
					</ul>
				</div>
				<div class="col">
					<span class="product-title">popular content</span>
					<ul>
						<li><a href="">A/B Testing Guide</a></li>
						<li><a href="">Ultimate Guide to CRO</a></li>
						<li><a href="">Bayesian Statistics</a></li>
						<li><a href="">Significance Calculator</a></li>
						<li><a href="">Duration Calculator</a></li>
					</ul>
				</div>
				<div class="col col-lg-2">
					<span class="product-title">about vwo</span>
					<ul>
						<li><a href="">About us</a></li>
						<li><a href="">Customers</a></li>
						<li><a href="">Careers</a></li>
						<li><a href="">Integrations</a></li>
						<li><a href="">Partners</a></li><li>
						<li><a href="">Pricing</a></li>
						<li><a href="">Team Blog</a></li>
						<li><a href="">Engineering Blog</a></li>
						<li><a href="">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<div class="copyright-bar">
		        <nav class="copyright-options"> <!-- menu -->
		          <ul>
		            <li>
		              <span>© Copyright Wingify. All rights reserved</span>
		            </li>
		            <li>
		              <a href="">Terms of use</a>
		            </li>
		            <li>
		              <a href="">Privacy</a>
		            </li>
		            <li>
		            	<a href="">Opt-out</a>
		            </li>
		          </ul>
		        </nav>
		        <figure class="brand-logo"> <!-- logotipo -->
		          <img src="{% static 'img/brand.png' %}" alt="logo"/>
		        </figure>
			</div>
		</div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>

<script type="text/javascript">
jQuery(document).ready(function () {
	var url = "{% url 'get_significance' %}";

	function get_cookie(name){
		var cookieValue = null;
		if (document.cookie && document.cookie != ''){
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++){
				var cookie = jQuery.trim(cookies[i]);
				if (cookie.substring(0, name.length + 1) == (name + '=')){
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
	  }
	  return cookieValue;
	}

	var csrftoken = get_cookie('csrftoken');

	function calculate_values() {
		$.ajax({
			url : url,
			type : "POST",
			data : {
				'control_visitors': $('#control_visitors').val(),
				'variation_visitors': $('#variation_visitors').val(),
				'control_conversions': $('#control_conversions').val(),
				'variation_conversions': $('#variation_conversions').val()
			},
			headers: { "X-CSRFToken": csrftoken },
			success : function(json) {
				var data = json;
				$('#results').css('display', 'inherit');
				$('#significance').text(data['significance']);
				$('#p-value').text(data['p_value']);
			},
			error : function(xhr,errmsg,err)
			{
				console.log(xhr.status + ":" + xhr.responseText);
			}
		});
	}

	function check_empty_values() {
		if($('#control_visitors').val() == '' || $('#control_conversions').val() == ''){
			alert('Please enter numbers in all control and variation fields');
			return false
		}
		else if($('#variation_visitors').val() == '' || $('#variation_conversions').val() == ''){
			alert('Please enter numbers in all control and variation fields');
			return false
		}
		else if($('#control_visitors').val() < 15 || $('#control_conversions').val() < 15){
			alert('There must be at least 15 variation trials for this tool to produce any results.');
			return false
		}
		else if($('#variation_visitors').val() < 15 || $('#variation_conversions').val() < 15){
			alert('Please enter numbers in all control and variation fields');
			return false
		}
		else {
			return true
		}
	}

	$('#calculate').on('click', function(ev){
		ev.preventDefault();
		var check_values = check_empty_values();
		console.log(check_values);
		if(check_values)
			calculate_values();
	});
});
</script>